.todo_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 35vw;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  color: #077208;

  h1 {
    margin-bottom: 20px;
    font-size: 42px;
    
    @media (max-width: 998px) {
      font-size: 28px;
    }
  }

  @media (max-width: 998px) {
    width: 90vw;
  }
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  input {
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-right: 10px;
    color: black;
  }

  button {
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4ace4c;
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ccbf00;
    }
  }
}

.task-list {
  width: 100%;
  min-height: 10vh;
  margin-top: 20px;
  list-style-type: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ececec;

  @media (max-width: 768px) {
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border: 1px solid hsla(0, 0%, 24%, 0.411);
    border-radius: 8px;
    padding: 5px 15px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    span {
      flex-grow: 1;
    }

    .btn_wrapper {
      display: flex;
      gap: 5px;
    }

    .status-btn {
      padding: 5px 10px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &.yellow {
        background-color: #ffea00;
        color: black;
      }

      &.green {
        background-color: #00cc00;
        color: white;
      }
    }

    .del-btn {
      padding: 5px 10px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #be3939;
      color: white;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: red;
      }
    }

    &.completed {
      span {
        text-decoration: line-through;
      }
    }
  }

  p {
    text-align: center;
  }
}
